.shortcoursecontents__wrap{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.shortcoursecontents__contents-box{
    gap: 24px;
    display: flex;
    flex-direction: row;

}

.shortcoursecontents__last-box{
    width: 282px;
    height: 400px;

    cursor: pointer;
}